:root{
  --wrapWidth : 1200px;
  --height-50: 50px;
  --font-20: 20px;
  --font-18: 18px;
}
/*main-header*/
header{
  width:100%;
  height:50px;
  background-color: #fff;
  position:fixed;
  top:0;
  left:0;
  z-index: 99999999999999;
}
/*==============gnb=================*/
#gnb{
  width:var(--wrapWidth);
  height:var(--height-50);
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;

}
#gnb i.fa{
  font-size:20px;
  cursor: pointer;
}

#logo{
  line-height: 40px;
  height:40px;
}
#logo img{
  vertical-align: middle;
  height:100%;
}
/*menu*/
#menuWrap{
  position:absolute;
  left:0;
  top:var(--height-50);
  z-index: 9999;
}
#menu{
  width:150px;
  height:0;
  background-color:#29a79c;
  color:#fff;
  text-align:center;
  overflow: hidden; 
}

#menu>li{
  line-height:var(--height-50);
  font-size:18px;
  text-transform: uppercase;
}
/*검색창*/
#searchBox{
  position:fixed;
  top:50px;
  left:0;
  width:100%;
  height:100vh;
  background-color: #29a79de5;
  display: none;
  z-index: 99999;
}
#inputBox{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#fff;
  font-size: var(--font-20);
}
#inputBox>form{
  display: flex;
}
#inputBox input[type="text"]{
  width:800px;
  height:50px;
  border:transparent;
  outline:transparent;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  text-indent: 5px;
  color:#fff;
  font-size: var(--font-20);
  font-weight: 700;
}
#inputBox button[type="submit"]{
  margin-top:4px;
  color:#fff;
  background-color:transparent;
  cursor: pointer;
}
/*header 설정 끝*/
@media screen and (max-width:1668px) {
  #gnb {width:80%;}
  #menu{
    width:300px;
  }
}
@media screen and (max-width:375px) {
  #gnb{
    width:80%;}
  #menu{
    width:80vW;;
  }
  #inputBox input[type="text"]{
    width:200px;
  }
}