@import url(reset.css);
@import url(header.css);
@import url(footer.css);
/*지정함수*/
:root{
  --wrapWidth : 1200px;
  --height-50: 50px;
  --font-20: 20px;
  --font-18: 18px;
}

/*section 기본설정*/
section{
  width:100%;
}
section>.wrap{
  width:var(--wrapWidth);
  margin:auto;
}

/*메인 페이지 설정*/
#main{
  position:relative;
}
#mainImgBox{
  width:100%;
  overflow: hidden;
  line-height:100px;
}
#mainImgBox>img{
  width:100%;
  height:auto;
  vertical-align:middle;
}
#main>.txtBox{
  position:absolute;
  top:50%;
  left:360px;
  width:800px;
  transform: translateY(-50%);
  font-family: 'SBAggroB',"pretendard";
  font-size:50px;
}

.txtBox >h1>strong{
  color:#e9a396;
}
.txtBox>h1>span{
  color:#fff;
}
.txtBox>p{
  position:absolute;
  width:300px;
  top:90px;
  left:320px;
  font-family: 'pretendard';
  font-size: 25px;
  font-weight: 600;
  color:#fff;
}
/*section 두 번째*/
/*title 공통부분*/
.titleBox h1{
  margin:70px 0 0;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
.titleBox p{
  text-align: center;
  margin-top:20px;
  font-size:var(--font-18);
  font-weight: 600;
}
/* section-원*/
.roundList{
  margin:70px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width:var(--wrapWidth);
}
.roundList>li>.round{
  position:relative;
  width:280px;
  height:280px;
  border-radius: 140px;
  background-color:#f6f6f6;
  text-align:center;
}
.roundList>li:nth-child(2n)>.round{
  background-color:#29a79c;
  color:#fff;
}
.round> .roundTxt{
  position:absolute;
  width:225px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.roundTxt>h2{
  font-size:40px;
}
.roundTxt>p{
  font-size:var(--font-18);
  margin:10px 0; 
  font-weight: 600;

}

/*section 두 번째.- #factory*/
#factory .imgBox{
  width:var(--wrapWidth);
  height:auto;
  margin:50px auto;
  overflow: hidden;
}
.imgBox>img{
  width: 100%;
  height:auto;
}
/*세 번째  section-#solid*/
#solid{
  margin:80px 0;
}
.contentBox{
  width:100%;
  display:flex;
  margin:auto
}
.contentBox>.sideImg{
  width:650px;
  height:390px;
  overflow: hidden;
  margin-right: 30px; 
}
.sideImg>img{
  width:100%;
}
.sideTxt{
  width:500px;
  height:390px;
  padding:50px 0;
  margin-left:30px;
}
.sideTxt>h1{
  font-weight:900;
  font-size: 50px;
}
.sideTxt>p{
  font-size:var(--font-18);
  margin:20px 0;
  font-weight: 600;
}
/*네 번째 섹션. #business*/
#business .roundList>li{
  position:relative;
}
#business .roundList>li> p{
  width:270px;
  position:absolute;
  left:50%;
  top:300px;
  transform: translateX(-50%);
  font-size:var(--font-18);
  font-weight: 600;
}
#business .mobileTxt{
  display: none;
}
/*#partner section*/
#partner{
  padding-top: 100px;
}
.roundBox{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: space-between;
}
.roundBox>li{
  width:280px;
  height:280px;
  border-radius: 140px;
  background-color: #f6f6f6;
  border: 1px solid #29a79c;
  margin:12px 0;
  overflow: hidden;
}
.imgBox{
  width:200px;
  margin:auto;
  line-height: 280px;
  text-align: center;
}
.imgBox>img{
  width:100%;
  vertical-align: middle;
}
/* 4번재 섹션 */
#portfolio{
  width:100%;
  background-color: #29a79c; 
}
#portfolio>.wrap{
  height:950px;
}
#portfolio h1{
  color:#fff;
  font-size:80px;
  text-align: center;
  font-weight: 900;
  padding:50px 0;
}
/*포트폴리오 이미지박스*/
.portBox{
  width:1200px;
  margin:auto;
}
.portList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portList>li{
  width:384px;
  height:300px;
  background-color:#fff;
  margin:12px 0;
  position: relative;
  overflow: hidden;
}
.portList>li>img{
  height: 100%;;
}
.portBox>a{
  display: block;
  width:200px;
  height:50px;
  line-height: 50px;
  margin:30px auto;
  background-color: transparent;
  border: 2px solid #fff;
  outline: 1px solid transparent;
  color:#fff;
  font-size: var(--font-18);
  cursor: pointer;
  text-align: center;
}
/*:hover  효과가 들어가는 박스*/
.portList .showBox{
  width:100%;
  height:150px;
  background-color:rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom:-150px;
  overflow: hidden;
  padding:20px;
  transition: ease-in-out 0.5s;
}
.textBox{
  color:#fff;
}
.textBox>h2{
  font-size:30px;
}
.textBox>span{
  font-size: 15px;
}
.textBox>p{
  font-size: var(--font-18);
}
/*:hover 이벤트*/
.portList>li:hover>.showBox{
  bottom:0;
  transition: ease-in-out 0.5s;
}

/*tablet PC*/
@media screen and (max-width:1668px) {
  #main>.txtBox{
    top:60%;
    left:100px;
  }
}
@media screen and (max-width:375px) {
  section>.wrap{
    width:320px;
    margin:auto;
  }
  #main>.txtBox{
    top:65%;
    left:50px;
    width:100%;
    font-size:20px;
  }
  .txtBox>p{
    width:100px;
    top:40px;
    left:130px;
    font-size: 10px;
  }
  /*title 공통부분*/
  .titleBox h1{
    margin:15px 0;
    font-weight: 900;
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
  }
  .titleBox p{
    width:95%;
    margin:auto;
    text-align: center;
    margin-top:20px;
    font-size:12px;
    font-weight: 600;
  }
  /* section-원*/
  .roundList{
    flex-wrap: wrap;
    width:100%;
    margin:20px auto;
  }
  .roundList>li{
    width:100%;
  }
  .roundList>li>.round{
    position:relative;
    width:100%;
    height:120px;
    border-radius:0;
    background-color:#f6f6f6;
    text-align:center;
  }
  .roundList>li:nth-child(2n)>.round{
    background-color:#29a79c;
    color:#fff;
  }
  .round> .roundTxt{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .roundTxt>h2{
    font-size:22px;
  }
  .roundTxt>p{
    font-size: 15px;
  }
 
  #factory .imgBox{
    width:100%;
    height:120px;
    margin:50px 0;
    line-height: 100px;
    overflow: hidden;
  }
  .imgBox>img{
    width: 100%;
  }
  
  #solid{
    margin:20px 0;
  }
  #solid>.wrap{
    width:100%;
  }
  .contentBox{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin:auto;
  }
  .contentBox>.sideImg{
    width:100%;
    height:200px;
    overflow: hidden;
    margin-right:0px; 
  }
  .sideImg>img{
    width:100%;
    line-height: 200px;
    vertical-align:bottom;
  }
  .sideTxt{
    width:85%;
    height:auto;
    padding:20px 0;
    margin-left:0px;
    margin:auto;
  }
  .sideTxt>h1{
    font-weight:900;
    font-size: 25px;
    text-align: center;
  }
  .sideTxt>p{
    font-size:12px;
    margin:20px 0;
    font-weight: 600;
    text-align: center;
  }
  #factory .imgBox{
    margin:25px 0;
  }
  /*비즈니스 영역 텍스트*/
  #business .roundList>li{
    position:relative;
  }
  #business .roundList>li> p{
    display: none;
  }
  #business .roundTxt{
    position:absolute;
    width:100%;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  #business .mobileTxt{
    position:absolute;
    height:30px;
    left:50%;
    transform: translateX(-50%);
    display: block;
    width:95%;
    font-size:12px;
    text-align: center;
    font-weight: 600;
    margin:10px 0;
  }
  #partner{
    padding-top:20px;
  }
  .roundBox{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
  }
  .roundBox>li{
    width:150px;
    height:150px;
    border-radius: 75px;
    background-color: #f6f6f6;
    border: 1px solid #29a79c;
    margin:12px 0;
    overflow: hidden;
  }
  .imgBox{
    width:70%;
    margin:auto;
    line-height: 150px;
    text-align: center;
  }
  .imgBox>img{
    width:100%;
    vertical-align: middle;
  }
    /* 4번재 섹션 */
  #portfolio{
    width:100%;
    background-color: #29a79c; 
  }
  #portfolio>.wrap{
    height:680px;
  }
  #portfolio h1{
    color:#fff;
    font-size:30px;
    text-align: center;
    font-weight: 900;
    padding:30px 0;
  }
  /*포트폴리오 이미지박스*/
  .portBox{
    width:100%;
    margin:auto;
  }
  .portList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .portList>li{
    width:155px;
    height:150px;
    margin:5px 0;
  }
  .portList>li>img{
    height: 100%;
  }
  .portBox>a{
    width:100px;
    font-size:10px;
    height:30px;
    line-height:30px;
  }

}