/*==================footer======================*/
footer{
    width:100%;
    background-color: #e3e3e3;
    position: relative;
    transform-origin: bottom;
    margin-top:50px;
}

.footBox{
    width:1200px;
    margin:auto;
    position:relative;
    padding:50px 0; 
}
.topSns{
    position:absolute;
    top:-35px;
    right:0;
    display: flex;
    justify-content: flex-end;
}
.touch{
    display: flex;
    align-items: center;
    margin:0 10px;
}
.touch>li{
    font-size:25px;
    margin:0 5px;
    transition: all 0.2s;
}
.touch>li:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}
.up{
    width:80px;
    height:25px;
    background-color: #e3e3e3;
    position:absolute;
    top:-25px;
    left:50%;
    border-radius: 10px 10px 0  0 ;
    text-align: center;
    transform: translateX(-50%);
}
.up>span{
    font-size:25px;
    line-height: 25px;
    display: block;
    font-weight: 900;
    transform: rotate(-90deg);
    transition: all 0.5s;
}
.up.on>span{
    transform: rotate(-270deg);
    transition: all 0.5s;
    
}
/*footMain/푸터 메뉴박스/*/
.footMain{
    display:flex;
    overflow: hidden;
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
    justify-content:space-around ;
}
@keyframes fade-out {
    0%{
        visibility: visible;
        opacity: 1;
        height:270px;
    }
    50% {
        visibility: visible;
        opacity:0.5;
    }
    100%{
        height:0;
        visibility: hidden;
        opacity: 0;
    }
}
.footMain.on{
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    0%{
        visibility: visible;
        opacity: 0;
        height:0;
    }
    50% {
        visibility: visible;
        opacity:0.5;
    }
    100%{
        height:270px;
        visibility: visible;
        opacity: 1;
    }
    
}
.menuBox{
    display: flex;
    justify-content: space-between;
}
.footMenu{
    margin:0 25px;
}
.footMenu>li{
    margin-bottom:10px;
    text-align: left;
    font-size: 15px;
}

.footMenu>li:first-child{
    font-weight: 900;
    font-size:20px;
}
/*officialBox/푸터 메일 입력박스/*/
.emailBox{
    text-align: center;

}
.emailBox>button{
    display: inline-block;
    width:55px;
    height:39px;
    margin-left:-2px;
    border-radius: 0 5px 5px 0;
    background-color:#88d3ee;
    border:none;
    color:#333;
    font-size:18px;
}
.emailBox>p{
    font-size:15px;
    margin :10px 0;
}
.emailBox>input[type=email]{
    width:250px;
    height:40px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    text-indent:8px;
}
/*certified*/
.certified{
    width:300px;
    line-height:160px;
}
.certified img{
    width:100%;
    vertical-align:bottom;
}
/*footTitle /푸터 로고 부분/*/
.footTitle{
    width:780px;
    height:100px;
    margin:auto;
    text-align: center;
}
.footLogo{
    text-align: center;
    margin-bottom:20px;
}
.footLogo img{
    width:200px;
}
.policy>li{
    float:left;
    margin:0 10px;
    font-weight:bold;
}