header{
    width:100%;
    max-width:1920px;
    background-color: #fff;
    font-family:'Quicksand';
    font-weight: 600;
}
header>nav{
    width:1200px;
    height:80px;
    margin:auto;
    display: flex;
    align-items: center;
}
#logo{
    width:150px;
    line-height: 80px;
}
#logo img{
    width:100%;
    vertical-align: middle;
}
.saleLine{
    width:100%;
    overflow: hidden;
    height:40px;
    background-color: #88d3ee;
    line-height: 40px;
    padding:0;
}
.lineText{
    width:1200px;
    margin:auto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.lineText>span{
    margin:0 12px;
    font-size:14px;
    text-align: center;
}
.lineText>span:hover{
    font-weight: 800;
}
/*============GNB===================*/
.gnb{
    display: flex;
    margin:0 0 0 auto;
}
.gnb>li{
    margin: 0 20px;
    position:relative;
}
.gnb>li:hover{
    font-weight: 900;
}
.gnb>li::after{
    content: "";
    width:2px;
    height:2px;
    background:#333;
    display: block;
    position:absolute;
    transition: width 0.3s;
    opacity: 0;
}
.gnb>li:last-child::after{
    content: "";
    width:2px;
    height:2px;
    display: block;
    position:absolute;
    transition: width 0.5s;  
}
.gnb>li:hover::after{
    content: "";
    width:50px;
    height:2px;
    background:#333;
    display: block;
    position:absolute;
    transition: width 0.3s; 
    opacity: 1;
}
.gnb>li:last-child:hover::after{
    content: "";
    width:70px;
    height:2px;
    background:#333;
    display: block;
    position:absolute;
    transition: width 0.5s;  
}
/*==========mypage===========*/
.myPage{
    display: flex;
    width:100px;
}
.myPage>li{
    width:20px;
    margin:0 5px;
}
.myPage img{
    width:100%;
}